@model SocialPirates.Blackbeard.Site.Models.ProjectDisplayModel

@{
    ViewBag.Title = Model.Name;
}

<div class="row">
    <div class="span6"></div>
    <div class="span6">
        <div class="inline">
            <h2>@Model.Name</h2>
            @Html.ActionLink("Edit", "Edit", "Project", new { id = @Model.Id }, new { id = "edit-project", @class = "btn" })
            <small>@Model.Conception.ToShortDateString()</small>
            @foreach (var conceiver in Model.Conceivers)
            {
                Html.RenderPartial("~/Views/User/UserFlair.cshtml", conceiver);
            }
        </div>
        <div>
            @Html.Raw(Model.Description)
        </div>
    </div>
</div>

<div id='edit-project-modal' class='modal hide fade in modal-editor' data-url='@Url.Action("Edit", "Project")'>
    <div id='edit-project-container'>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        setupModal('edit-project');
    });
</script>
