@model SocialPirates.Blackbeard.Site.Models.ProjectEditModel

@{
    var _action = Model == null || Model.Id == 0 ? "Create" : "Edit";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">@_action Project</h3>
</div>

@using (Html.BeginForm(_action, "Project", FormMethod.Post, new { @class = "modal-form" }))
{
    @Html.ValidationSummary(true)
    
    <div class="modal-body">
        <div>
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class= "input-xxlarge" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div>
            @Html.LabelFor(model => model.DescriptionMarkdown)
            <div id="wmd-button-bar"></div>
            @Html.TextAreaFor(model => model.DescriptionMarkdown, 10, 400, new { id = "wmd-input", @class="full-width" })
            <label>Description Preview</label>
            <div id="wmd-preview" class="markdown-preview-pane"></div>
            @Html.ValidationMessageFor(model => model.DescriptionMarkdown)
        </div>
    </div>
    
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
}

<script type="text/javascript">
    $(function () {
        var converter = Markdown.getSanitizingConverter();
        var editor = new Markdown.Editor(converter);
        editor.run();
    });
</script>
